body {
    background: #f8e8a6;
    margin-top: 10px;
  }
  
  h1,
  p {
    text-align: center;
  }
  .link{
    text-align: center;
    margin: 0 10px;
  color: green;
  }
  .photo-croissant {
    max-width: 100%;
    border-radius: 10px;
    display: block;
    margin: 30px auto;
  }